
.heading{
  text-align: center;
}

.btn-add{
  margin-left: 10px;
}

.list-group{
  margin-top: 20px;
}

.deleteButtonSpan{
  position: absolute;
  right: 0;
  top: 0;
  padding: 12px 16px 12px 16px;
}
.deleteButtonSpan:hover{
  background-color: red;
}

list-group-item{
  background-color: #aaaaaa;
}

ul li:checked::before{
  text-decoration: line-through;
  background-color: green;
}
